
@if (product) {
    <div class="container">
        <div class="card">
            <h2 class="card-title">{{product.name}}</h2>
            <img src="{{product.background_image}}" alt="" class="card-img">
            <div class="card-content">
                <p class="card-description">{{product.released}}</p>
            </div>
        </div>
        <div class="options">
            <h3>Base Game</h3>
            <ul>
                <li>
                    <button class="card-button" (click)="buyNow()">Buy Now</button>
                </li>
                <li>
                    <button class="card-button" (click)="addToCart()">Add To Cart</button>
                </li>
                <li>
                    <button class="card-button-store" (click)="goToProducts()">Return to Store</button>
                </li>
            </ul>
        </div>
    </div>
} @else {
    <p>No product data available</p>
}